html {
  background-image: linear-gradient(to bottom right, pink, plum, powderblue);
  background-size: cover;
  min-height: 100%;
  min-height: 100%;
}

.log-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginHeader {
  margin-top: 100px;
  font-family: Helvetica, 'sans-serif';
}
.datentry {
  font-size: 2em;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.submitButton {
  font-size: 1.5em;
  background-color: green;
  color: white;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.submitButton:hover {
  background-color: rgb(9, 167, 9);
  transform: scale(96%);
}
.logo-img {
  max-width: 500px;
  min-height: 200px;
}

.main-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.review-btn {
  margin-top: 20px;
}
