html {
  background-image: linear-gradient(to bottom right, pink, plum, powderblue);
  background-size: cover;
  min-height: 100%;
  min-height: 100%;
}

.mapComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 550px;
  border-radius: 15px;
}

.log-in-container {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginHeader {
  margin-top: 100px;
  font-family: Helvetica, "sans-serif";
}
.datentry {
  font-size: 1em;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.twoButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: blue;
}
.submitButton {
  font-size: 0.8em;
  background-color: green;
  color: white;
  // margin: 10px;
  border-radius: 5px;
  padding: 10px 15px;
  outline: none;
  border: none;
}

.submitButton:hover {
  background-color: rgb(9, 167, 9);
  transform: scale(96%);
}
.desubmit {
  background-color: grey;
}
.desubmit:hover {
  background-color: rgb(88, 88, 88);
}
.logout {
  background-color: red;
  color: white;
}
.logout:hover {
  background-color: rgb(227, 76, 76);
}
.logo-img {
  height: 150px;
  margin-bottom: 15px;
}

.main-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapContainer {
  display: flex;
  flex-direction: row;
}

.searchAndSidebar {
  margin-left: 1rem;
}

.dropdownSearch {
  margin-bottom: 0.5rem;
}

.sidebar {
  width: 300px;
  border: 1px solid purple;
  border-radius: 15px;
  margin-left: 1rem;
  height: 475px;
  max-height: 800px;
  overflow: auto;
  border: 2px solid purple;
  padding: 8px;

  margin-top: 8px;
}

.postReview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 5px;
  width: 100%;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.review-btn {
  margin-top: 20px;
  width: 95%;
  margin-left: 5%;
  height: 30px;
  border-radius: 8px;
  background-color: rgba(128, 0, 128, 0.444);
  color: white;
  border: none;
  outline: none;
}

.seekingAdmin {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.292);
  border: none;
  outline: none;
  width: 30px;
  align-self: center;
}

.defaultSidebarText {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: sans-serif;
  color: rgb(46, 1, 48);
}

.card {
  position: relative;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.364);
  color: black;
  border-radius: 9px;
  padding: 5px 10px;
  margin: 5px;
}

.sideButton {
  width: 90%;
  margin-left: 5%;
  height: 30px;
  border-radius: 8px;
  background-color: rgba(128, 0, 128, 0.444);
  color: white;
  border: none;
  outline: none;
}

.stars {
  color: goldenrod;
}

//IF YOU HAVE ADMIN, THE DELETE BUTTONS WILL SHOW
.reviewCardDelete {
  position: absolute;
  background-color: transparent;
  color: rgba(255, 0, 0, 0.467);
  top: 4px;
  right: 4px;
  border: none;
  border-radius: 25%;
  // border: 2px solid red;
}

.reviewCardDelete:hover {
  background-color: rgba(255, 255, 255, 0.433);
  color: rgba(255, 0, 0, 0.694);
  // border: 2px solid red;
}
//IF YOU DO NOT HAVE ADMIN, THE DELETE BUTTONS WILL BE HIDDEN
.hideReviewCardDelete {
  visibility: hidden;
  display: none;
}

.cardText {
  // line-height: 1rem;
  font-family: Helvetica, sans-serif;
}

.textDiv {
  margin-bottom: 0rem;
}

hr {
  border-top: 1px dotted purple;
  margin-right: 0.5rem;
}
